.header-container {
  background: #B4A483;
  height: 20px;
  h6 {
    font-size: 13px;
    color: #32261E;
    text-align: center;
    line-height: 20px;
  }
}

.main-site {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 35px 0 55px;
  background: #1E1E1E;
  &__logo {
    width: 85px;
    height: 35px;
    margin-left: -35px;
    border: 2px solid #B2A389;
    text-align: center;
    color: #B2A389;
    cursor: pointer;
    &:hover {
      border: 2px solid #fff;
      color: #fff;
    }
    p {
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  &__links {
    i {
      color: #B2A389;
      font-size: 24px;
      &:hover {
        color: #fff;
      }
    }
    i.fa-facebook {
      padding-right: 12px;
    }
  }
}

@media (max-width: 600px) {
  .main-site {
    padding: 0 35px 0 35px;
    &__logo {
      margin-left: -20px;
    }
  }
}

@media (max-width: 320px) {
  .main-site {
    padding: 0 20px;
    &__knob {
      line-height: 0px;
      svg {
        width: 60px;
        height: 30px;
      }
    }
  }
}

