<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Standard Favicon -->
{#<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">#}
{#<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">#}
{#<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">#}
{#<link rel="manifest" href="assets/img/favicon/manifest.json">#}
{#<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">#}
{#<link rel="shortcut icon" href="assets/img/favicon/favicon.ico">#}
{#<meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">#}
{#<meta name="theme-color" content="#ffffff">#}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- CSS styles -->
<link rel="stylesheet" href="assets/css/style.css">