@charset "UTF-8";
/*----- import helpers -------------------------------------------*/
/* Variables
-------------------------------------------------------------------------------------*/
/* Mixin
-------------------------------------------------------------------------------------*/
/*----- import vendors -------------------------------------------*/
body.fancybox-active {
  overflow: hidden;
}

body.fancybox-iosfix {
  position: fixed;
  left: 0;
  right: 0;
}

.fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99992;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
  -o-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
  -o-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.87;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption-wrap {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .25s, visibility 0s linear .25s;
  -o-transition: opacity .25s, visibility 0s linear .25s;
  transition: opacity .25s, visibility 0s linear .25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .25s, visibility 0s;
  -o-transition: opacity .25s, visibility 0s;
  transition: opacity .25s, visibility 0s;
}

.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 0 10px;
  height: 44px;
  min-width: 44px;
  line-height: 44px;
  color: #ccc;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  mix-blend-mode: exclusion;
}

.fancybox-toolbar {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translate3d(0, 0, 0);
}

.fancybox-is-closing .fancybox-stage {
  overflow: visible;
}

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity, -webkit-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: visible;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
  background: #000;
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
  background: #E5E3DF;
}

.fancybox-slide--next {
  z-index: 99995;
}

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fancybox-slide > title,
.fancybox-slide > style,
.fancybox-slide > meta,
.fancybox-slide > link,
.fancybox-slide > script,
.fancybox-slide > base {
  display: none;
}

.fancybox-slide .fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: opacity, -webkit-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.fancybox-can-zoomOut .fancybox-image-wrap {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-image-wrap {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-drag .fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-dragging .fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: -webkit-calc(100% - 100px);
  max-width: calc(100% - 100px);
  max-height: -webkit-calc(100% - 88px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff;
}

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.fancybox-error {
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  background: #fff;
  cursor: default;
}

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  line-height: 20px;
}

/* Buttons */
.fancybox-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 10px;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(30, 30, 30, 0.6);
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
  cursor: pointer;
  outline: none;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff;
}

.fancybox-button[disabled] {
  color: #ccc;
  cursor: default;
  opacity: 0.6;
}

.fancybox-button svg {
  display: block;
  position: relative;
  overflow: visible;
  shape-rendering: geometricPrecision;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3;
}

.fancybox-button--share svg path {
  stroke-width: 1;
}

.fancybox-button--play svg path:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg path:nth-child(1) {
  display: none;
}

.fancybox-button--zoom svg path {
  fill: transparent;
}

/* Navigation arrows */
.fancybox-navigation {
  display: none;
}

.fancybox-show-nav .fancybox-navigation {
  display: block;
}

.fancybox-navigation button {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 99997;
  background: transparent;
  width: 60px;
  height: 100px;
  padding: 17px;
}

.fancybox-navigation button:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(30, 30, 30, 0.6);
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
}

.fancybox-navigation .fancybox-button--arrow_right {
  right: 0;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
}

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}

.fancybox-close-small:focus {
  outline: none;
}

.fancybox-close-small:focus:after {
  outline: 1px dotted #888;
}

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee;
}

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -44px;
}

.fancybox-slide--image .fancybox-close-small:after,
.fancybox-slide--iframe .fancybox-close-small:after {
  font-size: 35px;
  color: #aaa;
}

.fancybox-slide--image .fancybox-close-small:hover:after,
.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
  background: transparent;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none;
}

/* Caption */
.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 2vw 0 2vw;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(40%, rgba(0, 0, 0, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
  position: relative;
  /* Fix IE11 */
}

.fancybox-caption a {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */
.fancybox-slide > .fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Transition effects */
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1;
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

/* Share */
.fancybox-share {
  padding: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f4f4f4;
  max-width: 90%;
}

.fancybox-share h1 {
  color: #222;
  margin: 0 0 20px 0;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.fancybox-share p:first-of-type {
  margin-right: -10px;
}

.fancybox-share_button {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
  white-space: nowrap;
  font-size: 16px;
  line-height: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 140px;
  color: #707070;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.fancybox-share_button:focus,
.fancybox-share_button:hover {
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.fancybox-share_button svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.fancybox-share input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 10px 15px;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ebebeb;
  color: #5d5b5b;
  font-size: 14px;
  outline: none;
}

/* Thumbs */
.fancybox-thumbs {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 212px;
  margin: 0;
  padding: 2px 2px 4px 2px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-y: hidden;
  overflow-x: auto;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  white-space: nowrap;
}

.fancybox-thumbs-x > ul {
  overflow: hidden;
}

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 2px;
  width: 100px;
  height: 75px;
  max-width: -webkit-calc(50% - 4px);
  max-width: calc(50% - 4px);
  max-height: -webkit-calc(100% - 8px);
  max-height: calc(100% - 8px);
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1);
}

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs > ul > li {
    max-width: -webkit-calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  10% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  35% {
    -webkit-transform: scale(1, 1.7);
    transform: scale(1, 1.7);
  }
  40% {
    -webkit-transform: scale(1, 1.7);
    transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes fade {
  10% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  35% {
    -webkit-transform: scale(1, 1.7);
    transform: scale(1, 1.7);
  }
  40% {
    -webkit-transform: scale(1, 1.7);
    transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

[data-language] code, [class^="lang"] code, pre [data-language], pre [class^="lang"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-animation: fade-in 50ms ease-in-out 2s forwards;
  animation: fade-in 50ms ease-in-out 2s forwards;
}

[data-language] code.rainbow, [class^="lang"] code.rainbow, pre [data-language].rainbow, pre [class^="lang"].rainbow {
  -webkit-animation: none;
  animation: none;
  -webkit-transition: opacity 50ms ease-in-out;
  -o-transition: opacity 50ms ease-in-out;
  transition: opacity 50ms ease-in-out;
}

[data-language] code.loading, [class^="lang"] code.loading, pre [data-language].loading, pre [class^="lang"].loading {
  -webkit-animation: none;
  animation: none;
}

[data-language] code.rainbow-show, [class^="lang"] code.rainbow-show, pre [data-language].rainbow-show, pre [class^="lang"].rainbow-show {
  opacity: 1;
}

pre {
  position: relative;
}

pre.loading .preloader div {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

pre.loading .preloader div:nth-of-type(1) {
  background: #0081f5;
  -webkit-animation: fade 1.5s 300ms linear infinite;
  animation: fade 1.5s 300ms linear infinite;
}

pre.loading .preloader div:nth-of-type(2) {
  background: #5000f5;
  -webkit-animation: fade 1.5s 438ms linear infinite;
  animation: fade 1.5s 438ms linear infinite;
}

pre.loading .preloader div:nth-of-type(3) {
  background: #9000f5;
  -webkit-animation: fade 1.5s 577ms linear infinite;
  animation: fade 1.5s 577ms linear infinite;
}

pre.loading .preloader div:nth-of-type(4) {
  background: #f50419;
  -webkit-animation: fade 1.5s 715ms linear infinite;
  animation: fade 1.5s 715ms linear infinite;
}

pre.loading .preloader div:nth-of-type(5) {
  background: #f57900;
  -webkit-animation: fade 1.5s 853ms linear infinite;
  animation: fade 1.5s 853ms linear infinite;
}

pre.loading .preloader div:nth-of-type(6) {
  background: #f5e600;
  -webkit-animation: fade 1.5s 992ms linear infinite;
  animation: fade 1.5s 992ms linear infinite;
}

pre.loading .preloader div:nth-of-type(7) {
  background: #00f50c;
  -webkit-animation: fade 1.5s 1130ms linear infinite;
  animation: fade 1.5s 1130ms linear infinite;
}

pre .preloader {
  position: absolute;
  top: 12px;
  left: 10px;
}

pre .preloader div {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

pre {
  background-color: #000;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

pre, code {
  font-family: 'Monaco', 'Menlo', courier, monospace;
}

pre {
  background: #272822;
}

pre .comment {
  color: #75715E;
}

pre .constant {
  color: #AE81FF;
}

pre .storage {
  color: #66D9EF;
  font-style: italic;
}

pre .string, pre .comment.docstring {
  color: #E6DB74;
}

pre .support.tag {
  color: #fff;
}

pre .keyword {
  color: #F92672;
}

pre .selector, pre .storage.modifier.extends {
  color: #F92672;
}

pre .inherited-class {
  font-style: italic;
}

pre .operator, pre .support.tag-name, pre .entity.tag {
  color: #F92672;
}

pre .entity, pre .support.attribute, pre .entity.attribute {
  color: #A6E22E;
}

pre .entity.name.type, pre .entity.name.struct {
  color: #fff;
}

pre .support, pre *[data-language="c"] .function.call {
  color: #66D9EF;
}

pre .css-property, pre .storage.function {
  font-style: italic;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #A6E22E;
}

[data-language="html"] .support.operator, .lang-html .support.operator, .language-html .support.operator {
  color: #fff;
}

[data-language="javascript"] .variable.super, .lang-javascript .variable.super, .language-javascript .variable.super {
  color: #66D9EF;
}

[data-language="js"] .variable.super, .lang-js .variable.super, .language-js .variable.super {
  color: #66D9EF;
}

/*----- import globals -------------------------------------------*/
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Open Sans BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans BoldItalic"), local("OpenSans-BoldItalic"), url("../fonts/OpenSans/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans ExtraBoldItalic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/OpenSans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans LightItalic"), local("OpenSans-LightItalic"), url("../fonts/OpenSans/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: 'Open Sans SemiBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans SemiBoldItalic"), local("OpenSans-SemiBoldItalic"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Open Sans LightItalic';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans LightItalic"), local("OpenSans-LightItalic"), url("../fonts/OpenSans/OpenSans-LightItalic.ttf");
}

/* Reset styles
-------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
}

q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Base styles
-------------------------------------------------------------------------------------*/
body, html {
  position: relative;
  font-family: "Open Sans";
  font: 400 1rem/1.5 "Open Sans", sans-serif;
  color: #24292e;
  background-color: #1E1E1E;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.no-scroll, html.no-scroll {
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

body.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.main-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.wow {
  visibility: visible !important;
}

/*----- import components -------------------------------------------*/
/*----- import modules -------------------------------------------*/
.header-container {
  background: #B4A483;
  height: 20px;
}

.header-container h6 {
  font-size: 13px;
  color: #32261E;
  text-align: center;
  line-height: 20px;
}

.main-site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 35px 0 55px;
  background: #1E1E1E;
}

.main-site__logo {
  width: 85px;
  height: 35px;
  margin-left: -35px;
  border: 2px solid #B2A389;
  text-align: center;
  color: #B2A389;
  cursor: pointer;
}

.main-site__logo:hover {
  border: 2px solid #fff;
  color: #fff;
}

.main-site__logo p {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 600;
}

.main-site__links i {
  color: #B2A389;
  font-size: 24px;
}

.main-site__links i:hover {
  color: #fff;
}

.main-site__links i.fa-facebook {
  padding-right: 12px;
}

@media (max-width: 600px) {
  .main-site {
    padding: 0 35px 0 35px;
  }
  .main-site__logo {
    margin-left: -20px;
  }
}

@media (max-width: 320px) {
  .main-site {
    padding: 0 20px;
  }
  .main-site__knob {
    line-height: 0px;
  }
  .main-site__knob svg {
    width: 60px;
    height: 30px;
  }
}

.banner__block {
  background: url("../img/images/www.knobcreek.com-1293609732325191.jpg") center no-repeat;
  position: relative;
  width: 100%;
  height: 800px;
  padding-left: 0;
  -webkit-background-size: cover;
  background-size: cover;
}

.banner__block:before {
  content: '';
  position: absolute;
  background: #000;
  opacity: .3;
  width: 100%;
  height: 100%;
}

.banner__block:after {
  content: '';
  position: absolute;
  bottom: -370px;
  background: #B4A483;
  width: 100%;
  height: 370px;
  -webkit-background-size: cover;
  background-size: cover;
}

.banner__block__one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner__block__one-text {
  padding: 125px 0 0 185px;
  z-index: 5;
}

.banner__block__one-text h1 {
  font-family: "Open Sans Regular";
  font-size: 62px;
  font-weight: 100;
  line-height: 70px;
  color: #fff;
  letter-spacing: 3px;
  padding: 0 50px 10px 0;
}

.banner__block__one-text p {
  color: #fff;
  letter-spacing: .5px;
  padding-right: 190px;
}

.banner__block__one-imgKnob {
  margin: 50px -335px 0 0;
  z-index: 6;
}

.banner__block__one-imgKnob img {
  width: 900px;
}

.banner__block__two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: -35%;
  padding-left: 15px;
}

.banner__block__two-img {
  position: relative;
  z-index: 6;
}

.banner__block__two-img img {
  width: 100%;
  height: 590px;
}

.banner__block__two-novemberBlog {
  position: relative;
  z-index: 7;
  width: 640px;
  max-height: 590px;
  background: #fff;
  text-align: center;
}

.banner__block__two-novemberBlogText {
  -webkit-transform: translate(0%, 55%);
  -ms-transform: translate(0%, 55%);
  transform: translate(0%, 55%);
}

.banner__block__two-article {
  fill: #B13733;
}

.banner__block__two p:nth-child(2) {
  font-family: Open Sans  Bold;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
}

.banner__block__two h3 {
  font-size: 28px;
  font-family: Open Sans Light;
  padding: 0 125px;
}

.banner__block__two p:nth-child(4) {
  font-family: Open Sans Light;
  font-weight: 600;
  padding: 5px 100px 25px;
}

.banner__block__two p:nth-child(5) {
  font-family: Open Sans Bold;
  color: #B94642;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.banner__block__two p:nth-child(5):hover {
  color: #B4A483;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .banner__block__one-text {
    padding: 140px 0 0 85px;
  }
  .banner__block__one-text h1 {
    padding: 0 0 10px 0;
  }
  .banner__block__one-text p {
    padding-right: 10px;
  }
}

@media (max-width: 1200px) {
  .banner__block__one-text p {
    padding-right: 155px;
  }
  .banner__block__one-imgKnob {
    margin: 70px -470px 0 0;
  }
}

@media (max-width: 1100px) {
  .banner__block__one-text p {
    padding-right: 30px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 45%);
    -ms-transform: translate(0%, 45%);
    transform: translate(0%, 45%);
  }
  .banner__block__two h3 {
    padding: 0 50px;
  }
  .banner__block__two p:nth-child(4) {
    padding: 5px 40px 25px;
  }
}

@media (max-width: 1000px) {
  .banner__block {
    height: 705px;
  }
  .banner__block:after {
    bottom: -270px;
    height: 270px;
  }
  .banner__block__one-text {
    padding: 135px 0 0 60px;
  }
  .banner__block__one-text h1 {
    padding: 0 0 10px 0;
    letter-spacing: 0px;
    word-spacing: -10px;
  }
  .banner__block__one-text p {
    font-family: "Open Sans Light";
    font-size: 14px;
    padding-right: 60px;
  }
  .banner__block__one-imgKnob {
    margin: 75px -300px 0 0;
  }
  .banner__block__one-imgKnob img {
    width: auto;
  }
  .banner__block__two {
    top: -21.5%;
    padding: 0 45px 0 60px;
  }
  .banner__block__two-img img {
    height: 400px;
  }
  .banner__block__two-novemberBlog {
    max-height: 400px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 27%);
    -ms-transform: translate(0%, 27%);
    transform: translate(0%, 27%);
  }
  .banner__block__two p:nth-child(2) {
    font-size: 12px;
  }
  .banner__block__two h3 {
    font-size: 21px;
    padding: 0 70px;
  }
  .banner__block__two p:nth-child(4) {
    font-size: 14px;
    padding: 5px 65px 25px;
  }
}

@media (max-width: 900px) {
  .banner__block {
    height: 705px;
  }
  .banner__block:after {
    bottom: -270px;
    height: 270px;
  }
  .banner__block__one-text {
    padding: 70px 0 0 60px;
  }
  .banner__block__one-text h1 {
    font-size: 50px;
    line-height: 60px;
    word-spacing: -6px;
  }
  .banner__block__one-text p {
    font-family: "Open Sans Light";
    font-size: 14px;
    padding-right: 0;
  }
  .banner__block__one-imgKnob {
    margin: 75px -300px 0 0;
  }
  .banner__block__one-imgKnob img {
    width: auto;
  }
  .banner__block__two {
    top: -21.5%;
    padding: 0 45px 0 60px;
  }
  .banner__block__two-img img {
    height: 400px;
  }
  .banner__block__two-novemberBlog {
    max-height: 400px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 27%);
    -ms-transform: translate(0%, 27%);
    transform: translate(0%, 27%);
  }
  .banner__block__two p:nth-child(2) {
    font-size: 12px;
  }
  .banner__block__two h3 {
    font-size: 21px;
    padding: 0 25px;
  }
  .banner__block__two p:nth-child(4) {
    font-size: 14px;
    padding: 5px 5px 25px;
  }
}

@media (max-width: 750px) {
  .banner__block__one-text {
    padding: 70px 0 0 60px;
  }
  .banner__block__one-text h1 {
    font-size: 35px;
    line-height: 45px;
    word-spacing: 0px;
  }
  .banner__block__one-text p {
    font-family: "Open Sans Light";
    font-size: 14px;
    padding-right: 0;
  }
  .banner__block__one-imgKnob {
    margin: 75px -375px 0 0;
  }
  .banner__block__two {
    top: -21.5%;
    padding: 0 0 0 15px;
  }
  .banner__block__two p:nth-child(2) {
    font-size: 12px;
  }
  .banner__block__two h3 {
    font-size: 21px;
    padding: 0 25px;
  }
  .banner__block__two p:nth-child(4) {
    font-size: 14px;
    padding: 5px 5px 25px;
  }
}

@media (max-width: 600px) {
  .banner__block:after {
    bottom: -470px;
    height: 470px;
  }
  .banner__block__one {
    display: block;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  .banner__block__one-text {
    padding: 50px 0 0;
  }
  .banner__block__one-text h1 {
    font-size: 35px;
    line-height: 45px;
    word-spacing: 0px;
    padding: 0 130px 10px;
  }
  .banner__block__one-text p {
    font-family: "Open Sans Light";
    font-size: 14px;
    padding: 0 50px;
  }
  .banner__block__one-imgKnob {
    margin: 20px -355px 0 0;
  }
  .banner__block__one-imgKnob img {
    width: 570px;
  }
  .banner__block__two {
    display: block;
    top: -30%;
    padding: 0 25px 0 40px;
  }
  .banner__block__two-img img {
    height: 305px;
  }
  .banner__block__two p:nth-child(2) {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .banner__block__two h3 {
    font-size: 16px;
    padding: 0;
  }
  .banner__block__two p:nth-child(4) {
    font-size: 14px;
    padding: 5px 62px 15px;
    line-height: 25px;
  }
  .banner__block__two-novemberBlog {
    width: 100%;
    height: 270px;
    margin-top: -6px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 17%);
    -ms-transform: translate(0%, 17%);
    transform: translate(0%, 17%);
  }
}

@media (max-width: 550px) {
  .banner__block:after {
    bottom: -470px;
    height: 470px;
  }
  .banner__block__one {
    display: block;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  .banner__block__one-text {
    padding: 50px 0 0;
  }
  .banner__block__one-text h1 {
    font-size: 35px;
    line-height: 45px;
    word-spacing: 0px;
    padding: 0 5px 10px;
  }
  .banner__block__one-text p {
    font-family: "Open Sans Light";
    font-size: 14px;
    padding: 0 50px;
  }
  .banner__block__one-imgKnob {
    margin: 20px -355px 0 0;
  }
  .banner__block__one-imgKnob img {
    width: 570px;
  }
  .banner__block__two {
    display: block;
    top: -30%;
    padding: 0 25px 0 40px;
  }
  .banner__block__two-img img {
    height: 305px;
  }
  .banner__block__two p:nth-child(2) {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .banner__block__two h3 {
    font-size: 16px;
    padding: 0;
  }
  .banner__block__two p:nth-child(4) {
    font-size: 14px;
    padding: 5px 5px 15px;
    line-height: 25px;
  }
  .banner__block__two-novemberBlog {
    width: 100%;
    height: 270px;
    margin-top: -6px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 17%);
    -ms-transform: translate(0%, 17%);
    transform: translate(0%, 17%);
  }
}

@media (max-width: 400px) {
  .banner__block__one-text h1 {
    padding: 0 5px 10px;
  }
  .banner__block__one-text p {
    padding: 0px 5px;
  }
  .banner__block__two {
    padding: 0;
    margin-right: -15px;
  }
  .banner__block__two p:nth-child(2) {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .banner__block__two h3 {
    font-size: 16px;
    padding: 0;
  }
  .banner__block__two p:nth-child(4) {
    font-size: 14px;
    padding: 5px 5px 15px;
    line-height: 25px;
  }
  .banner__block__two-novemberBlog {
    width: 100%;
    height: 270px;
    margin-top: -6px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 8%);
    -ms-transform: translate(0%, 8%);
    transform: translate(0%, 8%);
  }
}

@media (max-width: 320px) {
  .banner__block {
    height: 660px;
  }
  .banner__block:after {
    bottom: -575px;
    height: 575px;
  }
  .banner__block__one-text {
    padding: 35px 0 0;
  }
  .banner__block__one-text h1 {
    padding: 0 5px 10px;
  }
  .banner__block__one-text p {
    font-size: 13px;
    line-height: 22px;
    padding: 0px 0 0 15px;
  }
  .banner__block__one-imgKnob {
    margin: 20px -300px 0 0;
  }
  .banner__block__one-imgKnob img {
    width: 480px;
  }
  .banner__block__two {
    top: -16%;
    padding: 0 30px;
  }
  .banner__block__two-img img {
    height: 245px;
  }
  .banner__block__two p:nth-child(2) {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .banner__block__two h3 {
    font-size: 18px;
    padding: 0 35px;
  }
  .banner__block__two p:nth-child(5) {
    font-size: 14px;
  }
  .banner__block__two-novemberBlog {
    height: 345px;
  }
  .banner__block__two-novemberBlogText {
    -webkit-transform: translate(0%, 12%);
    -ms-transform: translate(0%, 12%);
    transform: translate(0%, 12%);
  }
}

.recentArticles-container {
  background: #fff;
  margin-top: 370px;
  padding: 0 80px;
}

.recentArticles-container-related {
  font-family: Open Sans Regular;
  color: #1E1E1E;
  text-align: center;
  padding: 30px 0;
}

.recentArticles-container__blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.recentArticles-container .boxList {
  position: relative;
  width: 31%;
  max-width: 405px;
  height: 570px;
  background: #F2F1ED;
  text-align: center;
  margin-bottom: 30px;
}

.recentArticles-container .boxList:nth-child(3n+2) {
  margin: 0 30px;
}

.recentArticles-container .boxList__blogOneImg {
  background: url("../img/images/www.knobcreek.com-1550031134660845.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogTwoImg {
  background: url("../img/images/www.knobcreek.com-1564585437648699.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogThirdImg {
  background: url("../img/images/www.knobcreek.com-1550246487292757.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogFourImg {
  background: url("../img/images/www.knobcreek.com-1550164189475220.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogFiveImg {
  background: url("../img/images/www.knobcreek.com-1550293000153014.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogSixImg {
  background: url("../img/images/www.knobcreek.com-1550664938574687.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogSevenImg {
  background: url("../img/images/www.knobcreek.com-1550653084056276.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogEightImg {
  background: url("../img/images/www.knobcreek.com-1550660375610157.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__blogNineImg {
  background: url("../img/images/www.knobcreek.com-1550319714280280.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  -webkit-background-size: cover;
  background-size: cover;
}

.recentArticles-container .boxList__circle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -56%);
  -ms-transform: translate(-50%, -56%);
  transform: translate(-50%, -56%);
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #F2F1ED;
  text-align: center;
  line-height: 75px;
}

.recentArticles-container .boxList__circle .svg-icons {
  position: absolute;
  top: 35%;
  left: 25%;
}

.recentArticles-container .boxList__circle .article {
  background: url("../img/icons/Article.svg") center no-repeat;
}

.recentArticles-container .boxList__circle .video {
  background: url("../img/icons/Video.svg") center no-repeat;
  top: 15%;
  left: 20%;
}

.recentArticles-container .boxList__circle .glass {
  background: url("../img/icons/Glass.svg") center no-repeat;
  top: 20%;
  left: 15%;
}

.recentArticles-container .boxList__circle .gallery {
  background: url("../img/icons/Gallery.svg") center no-repeat;
  top: 18%;
  left: 15%;
}

.recentArticles-container .boxList p:nth-child(3) {
  padding-top: 25px;
  font-family: Open Sans Regular;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
}

.recentArticles-container .boxList h3 {
  font-size: 24px;
  font-family: Open Sans Light;
  line-height: 33px;
  padding: 0 55px;
}

.recentArticles-container .boxList p:nth-child(5) {
  padding-top: 20px;
  font-family: Open Sans Bold;
  color: #B94642;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.recentArticles-container .boxList p:nth-child(5):hover {
  color: #B4A483;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media (min-width: 1670px) {
  .recentArticles-container__blog {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .recentArticles-container .boxList {
    margin-bottom: 25px;
  }
  .recentArticles-container .boxList:nth-child(3n+2) {
    margin: 0 25px;
  }
  .recentArticles-container .boxList h3 {
    padding: 0 5px;
  }
}

@media (max-width: 1000px) {
  .recentArticles-container {
    margin-top: 270px;
    padding: 0 60px;
  }
  .recentArticles-container .boxList {
    height: 420px;
    margin-bottom: 20px;
  }
  .recentArticles-container .boxList__blogOneImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogTwoImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogThirdImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogFourImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogFiveImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogSixImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogSevenImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogEightImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogNineImg {
    height: 260px;
  }
  .recentArticles-container .boxList:nth-child(3n+2) {
    margin: 0 20px;
  }
  .recentArticles-container .boxList h3 {
    font-size: 20px;
    line-height: 28px;
    padding: 0 7px;
  }
  .recentArticles-container .boxList p:nth-child(5) {
    padding-top: 5px;
  }
}

@media (max-width: 750px) {
  .recentArticles-container {
    margin-top: 270px;
    padding: 0 15px;
  }
  .recentArticles-container .boxList {
    height: 420px;
    margin-bottom: 15px;
  }
  .recentArticles-container .boxList__blogOneImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogTwoImg {
    height: 260px;
  }
  .recentArticles-container .boxList__blogThirdImg {
    height: 260px;
  }
  .recentArticles-container .boxList:nth-child(3n+2) {
    margin: 0 15px;
  }
  .recentArticles-container .boxList p:nth-child(3) {
    font-size: 12px;
  }
  .recentArticles-container .boxList h3 {
    font-size: 18px;
    line-height: 25px;
    padding: 0 7px;
  }
  .recentArticles-container .boxList p:nth-child(5) {
    padding-top: 5px;
  }
}

@media (max-width: 600px) {
  .recentArticles-container {
    margin-top: 470px;
    padding: 0 20px;
  }
  .recentArticles-container .boxList {
    width: 45%;
    height: 370px;
  }
  .recentArticles-container .boxList__blogOneImg {
    height: 230px;
  }
  .recentArticles-container .boxList__blogTwoImg {
    height: 230px;
  }
  .recentArticles-container .boxList__blogThirdImg {
    height: 230px;
  }
  .recentArticles-container .boxList__blogFourImg {
    height: 230px;
  }
  .recentArticles-container .boxList__blogFiveImg {
    height: 230px;
  }
  .recentArticles-container .boxList__blogSixImg {
    height: 230px;
  }
  .recentArticles-container .boxList:nth-last-child(-n+3) {
    display: none;
  }
  .recentArticles-container .boxList:nth-child(3n+2) {
    margin: 0;
  }
  .recentArticles-container .boxList:nth-child(odd) {
    margin-right: 15px;
  }
  .recentArticles-container .boxList p:nth-child(3) {
    font-size: 10px;
  }
  .recentArticles-container .boxList h3 {
    font-size: 18px;
    line-height: 25px;
    padding: 0 8px;
  }
  .recentArticles-container .boxList p:nth-child(5) {
    font-size: 14px;
    padding-top: 5px;
  }
}

@media (max-width: 550px) {
  .recentArticles-container .boxList p:nth-child(3) {
    font-size: 10px;
    padding-top: 20px;
  }
  .recentArticles-container .boxList h3 {
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
  }
  .recentArticles-container .boxList p:nth-child(5) {
    font-size: 14px;
    padding-top: 5px;
  }
}

@media (max-width: 320px) {
  .recentArticles-container {
    margin-top: 575px;
    padding: 0 30px;
    background: #1E1E1E;
  }
  .recentArticles-container-related {
    color: #fff;
  }
  .recentArticles-container .boxList {
    width: 100%;
    height: 395px;
    margin-bottom: 20px !important;
  }
  .recentArticles-container .boxList__blogOneImg {
    height: 250px;
  }
  .recentArticles-container .boxList__blogTwoImg {
    height: 250px;
  }
  .recentArticles-container .boxList__blogThirdImg {
    height: 250px;
  }
  .recentArticles-container .boxList:nth-child(odd) {
    margin-right: 0;
  }
  .recentArticles-container .boxList p:nth-child(3) {
    font-size: 10px;
    padding-top: 25px;
  }
  .recentArticles-container .boxList h3 {
    font-size: 16px;
    line-height: 25px;
    padding: 6px 8px;
  }
  .recentArticles-container .boxList p:nth-child(5) {
    font-size: 14px;
    padding-top: 5px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  background: #1E1E1E;
}

.footer-container__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-container__links h5 {
  font-family: Open Sans Bold;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #B2A389;
  padding-right: 20px;
}

.footer-container__links i {
  color: #B2A389;
  font-size: 24px;
}

.footer-container__links i:hover {
  color: #fff;
}

.footer-container__links i.fa-facebook {
  padding-right: 20px;
}

@media (max-width: 320px) {
  .footer-container {
    padding: 0 30px;
  }
  .footer-container__links h5 {
    font-family: Open Sans Regular;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 100;
    padding-right: 10px;
  }
  .footer-container__links i {
    font-size: 20px;
  }
  .footer-container__links i.fa-facebook {
    padding-right: 10px;
  }
  .footer-container__knob svg {
    width: 60px;
    height: 30px;
  }
}

/*----- import adaptive -------------------------------------------*/
